{% extends 'main.html' %}
{% block content %}
<style>
body {
    font-family: Cambria;
    height: 100%;
    background-image: linear-gradient(#2309a4, #d3f0ff);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
</style>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <center><h1 style="color:white;">Diabetes Predictor</h1></center>
        <div class="card card-body" style="border: 0.5px rgb(46, 46, 107) solid;box-shadow:3px 5px 8px rgb(70, 60, 160); background-image: linear-gradient(#040069,#d3f0ff);">
            <form class="form-horizontal" action="{{ url_for('predictPage') }}" method="POST">
                <div class="form-group">
                    <input style="border: 1px solid black;box-shadow :2px 2px 5px #323232; background-color: #eee3f3" class="form-control" type="text" name="Pregnancies" placeholder="No. of Pregnancies">
                </div>
                <div class="form-group">
                    <input style="border: 1px solid black;box-shadow :2px 2px 5px #323232; background-color: #eee3f3" class="form-control" type="text" name="Glucose" placeholder="Glucose ex:148">
                </div>
                <div class="form-group">
                    <input style="border: 1px solid black;box-shadow :2px 2px 5px #323232; background-color:  #eee3f3" class="form-control" type="text" name="BloodPressure" placeholder="Blood Pressure (in mmHg ex:72)">
                </div>
                <div class="form-group">
                    <input style="border: 1px solid black;box-shadow :2px 2px 5px #323232; background-color: #eee3f3" class="form-control" type="text" name="SkinThickness" placeholder="Skin Thickness (in mm ex:35)">
                </div>
                <div class="form-group">
                    <input style="border: 1px solid black;box-shadow :2px 2px 5px #323232; background-color: #eee3f3" class="form-control" type="text" name="Insulin" placeholder="Insulin (in µU/ml ex:94)">
                </div>
                <div class="form-group">
                    <input style="border: 1px solid black;box-shadow :2px 2px 5px #323232; background-color: #eee3f3" class="form-control" type="text" name="BMI" placeholder="BMI">
                </div>
                <div class="form-group">
                    <input style="border: 1px solid black;box-shadow :2px 2px 5px #323232; background-color: #eee3f3" class="form-control" type="text" name="DiabetesPedigreeFunction" placeholder="Diabetes Pedigree Function ex:0.627">
                </div>
                <div class="form-group">
                    <input style="border: 1px solid black;box-shadow :2px 2px 5px #323232;background-color: #eee3f3" class="form-control" type="text" name="Age" placeholder="Age (in years)">
                </div>

                <input style="background-color: #4e0374" type="submit" class="btn btn-info btn-block" value="Predict">
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}